@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: linear-gradient(180deg, #758ade 0%, #399ba8 100%);
  box-shadow: 0 16px 14px 0 #04152d;
  padding: 18px 24px;
  max-width: 345px;
  z-index: 1;
}

.title {
  color: var(--color-text);
  font-size: 30px;
  font-weight: 700;
  z-index: 1;
}

.description {
  color: var(--color-text);
  margin-top: 6px;
  font-size: 25px;
  font-weight: 400;
  z-index: 1;
}

.skills {
  color: var(--color-text);
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
  z-index: 1;
}

.skill {
  font-size: 25px;
  font-weight: 400;
  border-radius: 100px;
  background: var(--color-dark);
  padding: 2px 22px;
  z-index: 1;
}

.sources {
  width: 100%;
  margin-top: 26px;
  display: flex;
  justify-content: space-around;
  z-index: 1;
}

.source {
  text-decoration: none;
  color: var(--color-text);
  font-size: 30px;
  font-weight: 600;
  border-radius: 100px;
  background: rgb(82, 214, 210);
  padding: 1px 22px;
  z-index: 1;
}