@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 79px;
  margin-left: 10%;
  margin-right: 10%;
  z-index: 1;
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  z-index: 1;
  margin-bottom: 50px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 24px;
  z-index: 1;
}


.history {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  z-index: 1;
}

.historyItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 17px;
  background: #2fb1b5;
  border-radius: 10px;
  padding: 24px;
  z-index: 1;
}

.historyItem img {
  width: 50px;
  z-index: 1;
}

.historyItemDetails {
  font-family: var(--font-roboto);
  z-index: 1;
}

.historyItemDetails h3 {
  font-size: 30px;
  font-weight: 500;
  z-index: 1;
}

.historyItemDetails p {
  font-size: 20px;
  font-weight: 300;
  z-index: 1;
}

.historyItemDetails ul {
  margin-top: 6px;
  list-style-position: inside;
  font-size: 25px;
  list-style-type: disc;
  margin-left: 17px;
  z-index: 1;
}

@media screen and (max-width: 830px) {
  .content {
    flex-direction: column;
    align-items: center;
    gap: 34px;
    z-index: 1;
  }

  .skills {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    z-index: 1;
  }

  .history {
    width: 100%;
    gap: 9px;
    z-index: 1;
  }
}