* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
}

html,
body,
#root {
  scroll-behavior: smooth;
  background-color: var(--color-bg);
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}