:root {
  --color-text: #000000;
  --color-primary: #21d6a6;
  --color-secondary: #2fb1b5;
  --color-dark: #2fb1b5;
  --color-bg: #61c6b7;
  --color-accent: #fff700;
  --font-roboto: "Roboto", sans-serif;
}